.Board {
    margin: auto;
  }
  
  .Board-table {
    margin: auto;
    border-radius: 3px;
    box-shadow: 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
  }
  
  /* neon sign from codepen: https://codepen.io/nodws/pen/bdjwn */
  
  @import url(//fonts.googleapis.com/css?family=Vibur);
  html,body{
    height:100%
  }
  
  .Board-title {
    text-align: center;
    width: 65%;
    height: 150px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     user-select: none;
  }
  
  .Board-title b{
    font: 400 10vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  }
  
  .Board-title b span{
    animation: blink linear infinite 2s;
  }
  
  .Board-title b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }